/* --------------------------------------Background CSS---------------------------------------------- */

#TalentImgBg{
    position: relative;
    width: 100%;
    height: 45.5vw;
    overflow: hidden;
}

#TalentImgBg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

#TalentTitleBg{
    background-color: #ffa0f7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 10%;
    width: 91.5%;
}

#TalentTitleBg h1{
    position: relative;
    bottom: 1.05vw;
    left: 5vw;
    font-size: 4vw;
    /* font-family: brandon-grotesque, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif; */
    color: #063f5c;
    font-weight: 900;
    letter-spacing: 0.05em;
}

#TalentTitleImg{
    position: relative;
    top: 5vw;
    left: 2.2vw;
}

#TalentTitleImg img{
    width: 9vw;
    height: auto;
}

#TalentSplitterTitle{
    position: relative;
    bottom: 2.5vw;
    display: flex;
    flex-direction: column;
}

/* -----------------------------Carousel CSS----------------------------------------- */

.vtuberSwiper {
    width: 100%;
    height: 100%;
    margin-top: 1vw;
    /* margin-left: 0.5vw; */
}
  
.vtuberSlide {
text-align: center;
font-size: 1.2vw;
color: white;
text-shadow: 1px 0px #fffdfd, 0px 1px #fdf8f8, -1px 0px #fdfbfb, 0px -1px #ffffff;
/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
gap: 1vw;
}

.vtuberSwiper .swiper-button-next,
.vtuberSwiper .swiper-button-prev {
  color: #305276;
  top: 12vw;
}

.vtuberSwiper .swiper-button-next {
  right: 2vw; /* Adjust as needed to increase the gap */
}

.vtuberSwiper .swiper-button-prev {
  left: 2vw; /* Adjust as needed to increase the gap */
}

.vtuberSwiper .swiper-button-next::after,
.vtuberSwiper .swiper-button-prev::after {
  content: ""; 
  display: inline-block;
  border: 2vw solid transparent;
}

.vtuberSwiper .swiper-button-next::after {
  border-left-color: #305276;
  margin-left: 1vw;
}

.vtuberSwiper .swiper-button-prev::after {
  border-right-color: #305276;
  margin-right: 1vw;
}

.vtuberSwiper .swiper-button-disabled {
  display: none; 
}



/* -----------------------------Painful Vtuber CSS----------------------------------------- */

#vtuberNameDivider{
    display: flex;
}

/* ----------------------------- Vtuber Suisei CSS----------------------------------------- */

#vtuberbg-1{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #50e5f9;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-1{
    position: relative;
    right: 1.6vw;
    bottom: 1.1vw;
    width: 16vw;
    height: auto;
}

#vtubername-1{
    position: relative;
    right: 10.2vw;
    bottom: 25vw;
    transform: rotate(90deg);
    font-size: 1.3vw;
}

#vtubername2-1 {
    position: relative;
    right: 5.5vw;
    bottom: 18.5vw;
    font-size: 2vw;
    font-weight: bolder;
    writing-mode: vertical-lr;
}

#vtuberbg-1:hover #vtubername-1,
#vtuberbg-1:hover #vtubername2-1 {
    visibility: visible;
    opacity: 1;
}

#vtubername-1,
#vtubername2-1 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-1 {
    transition: right 0.2s;
}

#vtuberbg-1:hover #vtubername2-1 {
    right: 0;
}

#vtuberbg-1:hover #vtuber-1 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }
  

/* ----------------------------- Vtuber Aqua CSS----------------------------------------- */

#vtuberbg-2{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fea6e9;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-2{
    position: relative;
    bottom: 1vw;
    width: 13.25vw;
    height: auto;
}

#vtubername-2{
    position: relative;
    right: 7.9vw;
    bottom: 23vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-2 {
    position: relative;
    right: 6vw;
    bottom: 18vw;
    writing-mode: vertical-lr;
    font-size: 2vw;
    font-weight: bolder;
}

#vtuberbg-2:hover #vtubername-2,
#vtuberbg-2:hover #vtubername2-2 {
    visibility: visible;
    opacity: 1;
}

#vtubername-2,
#vtubername2-2 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-2 {
    transition: right 0.2s;
}

#vtuberbg-2:hover #vtubername2-2 {
    right: 0;
}

#vtuberbg-2:hover #vtuber-2 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Vtuber Towa CSS----------------------------------------- */

#vtuberbg-3{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #c9baff;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-3{
    position: relative;
    bottom: 1.1vw;
    left: 0.1vw;
    width: 13.9vw;
    height: auto;
}

#vtubername-3{
    position: relative;
    bottom: 23.5vw;
    right: 8.5vw;
    transform: rotate(90deg);
    font-size: 1.67vw;
}

#vtubername2-3 {
    position: relative;
    bottom: 18vw;
    right: 6vw;
    writing-mode: vertical-lr;
    font-size: 2.2vw;
    font-weight: bolder;
}

#vtuberbg-3:hover #vtubername-3,
#vtuberbg-3:hover #vtubername2-3 {
    visibility: visible;
    opacity: 1;
}

#vtubername-3,
#vtubername2-3 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-3 {
    transition: right 0.2s;
}

#vtuberbg-3:hover #vtubername2-3 {
    right: 0;
}

#vtuberbg-3:hover #vtuber-3 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Vtuber Chloe CSS----------------------------------------- */

#vtuberbg-4{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #cf4c4a;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-4{
    position: relative;
    bottom: 1.1vw;
    width: 14.1vw;
    height: auto;
}

#vtubername-4{
    position: relative;
    bottom: 25.5vw;
    right: 10.9vw;
    transform: rotate(90deg);
    font-size: 1.55vw;
}

#vtubername2-4 {
    position: relative;
    bottom: 20vw;
    right: 6vw;
    writing-mode: vertical-lr;
    font-size: 2.2vw;
}

#vtuberbg-4:hover #vtubername-4,
#vtuberbg-4:hover #vtubername2-4 {
    visibility: visible;
    opacity: 1;
}

#vtubername-4,
#vtubername2-4 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-4 {
    transition: right 0.2s;
}

#vtuberbg-4:hover #vtubername2-4 {
    right: 0;
}

#vtuberbg-4:hover #vtuber-4 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }
/* ----------------------------- Vtuber Miko CSS----------------------------------------- */

#vtuberbg-5{
    cursor: pointer;
    margin-top: 1vw;
    background-color:#fe9cb4;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-5{
    position: relative;
    right: 1vw;
    bottom: 1vw;
    width: 17vw;
    height: auto;
}

#vtubername-5{
    position: relative;
    bottom: 24.5vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-5 {
    position: relative;
    bottom: 19vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-5:hover #vtubername-5,
#vtuberbg-5:hover #vtubername2-5 {
    visibility: visible;
    opacity: 1;
}

#vtubername-5,
#vtubername2-5 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-5 {
    transition: right 0.2s;
}

#vtuberbg-5:hover #vtubername2-5 {
    right: 0;
}

#vtuberbg-5:hover #vtuber-5 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Vtuber Pekora CSS----------------------------------------- */

#vtuberbg-6{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #88d2ff;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-6{
    position: relative;
    bottom: 1vw;
    width: 12.4vw;
    height: auto;
}

#vtubername-6{
    position: relative;
    bottom: 25vw;
    right: 10vw;
    transform: rotate(90deg);
    font-size: 1.8vw;
}

#vtubername2-6 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-6:hover #vtubername-6,
#vtuberbg-6:hover #vtubername2-6 {
    visibility: visible;
    opacity: 1;
}

#vtubername-6,
#vtubername2-6 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-6 {
    transition: right 0.2s;
}

#vtuberbg-6:hover #vtubername2-6 {
    right: 0;
}

#vtuberbg-6:hover #vtuber-6 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Sora CSS----------------------------------------- */

#vtuberbg-7{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #245eff;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-7{
    position: relative;
    bottom: 1.2vw;
    width: 14vw;
    height: auto;
}

#vtubername-7{
    position: relative;
    bottom: 25.5vw;
    right: 10vw;
    transform: rotate(90deg);
    font-size: 2.1vw;
}

#vtubername2-7 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.5vw;
}

#vtuberbg-7:hover #vtubername-7,
#vtuberbg-7:hover #vtubername2-7 {
    visibility: visible;
    opacity: 1;
}

#vtubername-7,
#vtubername2-7 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-7 {
    transition: right 0.2s;
}

#vtuberbg-7:hover #vtubername2-7 {
    right: 0;
}

#vtuberbg-7:hover #vtuber-7 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Roboco CSS----------------------------------------- */

#vtuberbg-8{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #a26694;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-8{
    position: relative;
    bottom: 0.4vw;
    width: 8.3vw;
    height: auto;
}

#vtubername-8{
    position: relative;
    bottom: 24.6vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 2.2vw;
}

#vtubername2-8 {
    position: relative;
    bottom: 20vw;
    right: 8.5vw;
    writing-mode: vertical-lr;
    font-size: 2.5vw;
}

#vtuberbg-8:hover #vtubername-8,
#vtuberbg-8:hover #vtubername2-8 {
    visibility: visible;
    opacity: 1;
}

#vtubername-8,
#vtubername2-8 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-8 {
    transition: right 0.2s;
}

#vtuberbg-8:hover #vtubername2-8 {
    right: 0;
}

#vtuberbg-8:hover #vtuber-8 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Mel CSS----------------------------------------- */

#vtuberbg-9{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fedd19;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-9{
    position: relative;
    bottom: 1vw;
    right: 1.15vw;
    width: 16.5vw;
    height: auto;
}

#vtubername-9{
    position: relative;
    bottom: 24vw;
    right: 8.5vw;
    transform: rotate(90deg);
    font-size: 2.2vw;
}

#vtubername2-9 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.5vw;
}

#vtuberbg-9:hover #vtubername-9,
#vtuberbg-9:hover #vtubername2-9 {
    visibility: visible;
    opacity: 1;
}

#vtubername-9,
#vtubername2-9 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-9 {
    transition: right 0.2s;
}

#vtuberbg-9:hover #vtubername2-9 {
    right: 0;
}

#vtuberbg-9:hover #vtuber-9 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Akirose CSS----------------------------------------- */

#vtuberbg-10{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ff1b9a;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-10{
    position: relative;
    bottom: 1.4vw;
    right: 1.5vw;
    width: 15.9vw;
    height: auto;
}

#vtubername-10{
    position: relative;
    bottom: 29.5vw;
    right: 15vw;
    transform: rotate(90deg);
    font-size: 1.8vw;
}

#vtubername2-10 {
    position: relative;
    bottom: 24.5vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.2vw;
}

#vtuberbg-10:hover #vtubername-10,
#vtuberbg-10:hover #vtubername2-10 {
    visibility: visible;
    opacity: 1;
}

#vtubername-10,
#vtubername2-10 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-10 {
    transition: right 0.2s;
}

#vtuberbg-10:hover #vtubername2-10 {
    right: 0;
}

#vtuberbg-10:hover #vtuber-10 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Hachama CSS----------------------------------------- */

#vtuberbg-11{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fb123f;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-11{
    position: relative;
    bottom: 0.9vw;
    width: 12.2vw;
    height: auto;
}

#vtubername-11{
    position: relative;
    bottom: 24.5vw;
    right: 9.8vw;
    transform: rotate(90deg);
    font-size: 2.2vw;
}

#vtubername2-11 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.5vw;
}

#vtuberbg-11:hover #vtubername-11,
#vtuberbg-11:hover #vtubername2-11 {
    visibility: visible;
    opacity: 1;
}

#vtubername-11,
#vtubername2-11 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-11 {
    transition: right 0.2s;
}

#vtuberbg-11:hover #vtubername2-11 {
    right: 0;
}

#vtuberbg-11:hover #vtuber-11 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Hachama CSS----------------------------------------- */

#vtuberbg-12{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #76deff;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-12{
    position: relative;
    bottom: 1.5vw;
    right: 1vw;
    width: 15.5vw;
    height: auto;
}

#vtubername-12{
    position: relative;
    bottom: 25.4vw;
    right: 10.3vw;
    transform: rotate(90deg);
    font-size: 1.45vw;
}

#vtubername2-12 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-12:hover #vtubername-12,
#vtuberbg-12:hover #vtubername2-12 {
    visibility: visible;
    opacity: 1;
}

#vtubername-12,
#vtubername2-12 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-12 {
    transition: right 0.2s;
}

#vtuberbg-12:hover #vtubername2-12 {
    right: 0;
}

#vtuberbg-12:hover #vtuber-12 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Matsuri CSS----------------------------------------- */

#vtuberbg-13{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ffa226;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-13{
    position: relative;
    bottom: 1vw;
    right: 1vw;
    width: 16.5vw;
    height: auto;
}

#vtubername-13{
    position: relative;
    bottom: 24.5vw;
    right: 10.3vw;
    transform: rotate(90deg);
    font-size: 1.45vw;
}

#vtubername2-13 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-13:hover #vtubername-13,
#vtuberbg-13:hover #vtubername2-13 {
    visibility: visible;
    opacity: 1;
}

#vtubername-13,
#vtubername2-13 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-13 {
    transition: right 0.2s;
}

#vtuberbg-13:hover #vtubername2-13 {
    right: 0;
}

#vtuberbg-13:hover #vtuber-13 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Shion CSS----------------------------------------- */

#vtuberbg-14{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ad6cdf;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-14{
    position: relative;
    bottom: 1vw;
    right: 1.5vw;
    width: 16.8vw;
    height: auto;
}

#vtubername-14{
    position: relative;
    bottom: 25vw;
    right: 10.2vw;
    transform: rotate(90deg);
    font-size: 1.55vw;
}

#vtubername2-14 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-14:hover #vtubername-14,
#vtuberbg-14:hover #vtubername2-14 {
    visibility: visible;
    opacity: 1;
}

#vtubername-14,
#vtubername2-14 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-14 {
    transition: right 0.2s;
}

#vtuberbg-14:hover #vtubername2-14 {
    right: 0;
}

#vtuberbg-14:hover #vtuber-14 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Ayame CSS----------------------------------------- */

#vtuberbg-15{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ec394f;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-15{
    position: relative;
    bottom: 1vw;
    right: 1vw;
    width: 16vw;
    height: auto;
}

#vtubername-15{
    position: relative;
    bottom: 24vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 1.8vw;
}

#vtubername2-15 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-15:hover #vtubername-15,
#vtuberbg-15:hover #vtubername2-15 {
    visibility: visible;
    opacity: 1;
}

#vtubername-15,
#vtubername2-15 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-15 {
    transition: right 0.2s;
}

#vtuberbg-15:hover #vtubername2-15 {
    right: 0;
}

#vtuberbg-15:hover #vtuber-15 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Choco CSS----------------------------------------- */

#vtuberbg-16{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fe6e9b;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-16{
    position: relative;
    bottom: 1vw;
    right: 1vw;
    width: 15.5vw;
    height: auto;
}

#vtubername-16{
    position: relative;
    bottom: 24.4vw;
    right: 10.1vw;
    transform: rotate(90deg);
    font-size: 1.85vw;
}

#vtubername2-16 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-16:hover #vtubername-16,
#vtuberbg-16:hover #vtubername2-16 {
    visibility: visible;
    opacity: 1;
}

#vtubername-16,
#vtubername2-16 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-16 {
    transition: right 0.2s;
}

#vtuberbg-16:hover #vtubername2-16 {
    right: 0;
}

#vtuberbg-16:hover #vtuber-16  {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Subaru CSS----------------------------------------- */

#vtuberbg-17{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #e0ff2b;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-17{
    position: relative;
    bottom: 1vw;
    right: 1vw;
    width: 15.5vw;
    height: auto;
}

#vtubername-17{
    position: relative;
    bottom: 24.2vw;
    right: 10.15vw;
    transform: rotate(90deg);
    font-size: 1.65vw;
}

#vtubername2-17 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-17:hover #vtubername-17,
#vtuberbg-17:hover #vtubername2-17 {
    visibility: visible;
    opacity: 1;
}

#vtubername-17,
#vtubername2-17 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-17 {
    transition: right 0.2s;
}

#vtuberbg-17:hover #vtubername2-17 {
    right: 0;
}

#vtuberbg-17:hover #vtuber-17 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- AzKi CSS----------------------------------------- */

#vtuberbg-18{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #f4338b;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-18{
    position: relative;
    bottom: 0.6vw;
    width: 12.2vw;
    height: auto;
}

#vtubername-18{
    position: relative;
    bottom: 24.4vw;
    right: 3.4vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-18 {
    position: relative;
    bottom: 18vw;
    writing-mode: vertical-lr;
    font-size: 2.8vw;
}

#vtuberbg-18:hover #vtubername-18,
#vtuberbg-18:hover #vtubername2-18 {
    visibility: visible;
    opacity: 1;
}

#vtubername-18,
#vtubername2-18 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-18 {
    transition: left 0.2s;
}

#vtuberbg-18:hover #vtubername2-18 {
    padding-left: 6.5vw;
}

#vtuberbg-18:hover #vtuber-18 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Mio CSS----------------------------------------- */

#vtuberbg-19{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ff314a;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-19{
    position: relative;
    bottom: 1vw;
    width: 12.8vw;
    height: auto;
}

#vtubername-19{
    position: relative;
    bottom: 23.5vw;
    right: 8.5vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-19 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-19:hover #vtubername-19,
#vtuberbg-19:hover #vtubername2-19 {
    visibility: visible;
    opacity: 1;
}

#vtubername-19,
#vtubername2-19 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-19 {
    transition: right 0.2s;
}

#vtuberbg-19:hover #vtubername2-19 {
    right: 0;
}

#vtuberbg-19:hover #vtuber-19 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Okayu CSS----------------------------------------- */

#vtuberbg-20{
    cursor: pointer;
    margin-top: 1vw;
    background-color:#e27dfd;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-20{
    position: relative;
    bottom: 1vw;
    width: 9.9vw;
    height: auto;
}

#vtubername-20{
    position: relative;
    bottom: 24.6vw;
    right: 10.2vw;
    transform: rotate(90deg);
    font-size: 1.45vw;
}

#vtubername2-20 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-20:hover #vtubername-20,
#vtuberbg-20:hover #vtubername2-20 {
    visibility: visible;
    opacity: 1;
}

#vtubername-20,
#vtubername2-20 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-20 {
    transition: right 0.2s;
}

#vtuberbg-20:hover #vtubername2-20 {
    right: 0;
}

#vtuberbg-20:hover #vtuber-20 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Korone CSS----------------------------------------- */

#vtuberbg-21{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ffcc28;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-21{
    position: relative;
    bottom: 1.6vw;
    right: 1vw;
    width: 16vw;
    height: auto;
}

#vtubername-21{
    position: relative;
    bottom: 24.5vw;
    right: 9.6vw;
    transform: rotate(90deg);
    font-size: 1.55vw;
}

#vtubername2-21 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.2vw;
}

#vtuberbg-21:hover #vtubername-21,
#vtuberbg-21:hover #vtubername2-21 {
    visibility: visible;
    opacity: 1;
}

#vtubername-21,
#vtubername2-21 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-21 {
    transition: right 0.2s;
}

#vtuberbg-21:hover #vtubername2-21 {
    right: 0;
}

#vtuberbg-21:hover #vtuber-21 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Flare CSS----------------------------------------- */

#vtuberbg-22{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ff5028;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-22{
    position: relative;
    bottom: 1.5vw;
    right: 0.2vw;
    width: 12vw;
    height: auto;
}

#vtubername-22{
    position: relative;
    bottom: 26vw;
    right: 11.15vw;
    transform: rotate(90deg);
    font-size: 1.75vw;
}

#vtubername2-22 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-22:hover #vtubername-22,
#vtuberbg-22:hover #vtubername2-22 {
    visibility: visible;
    opacity: 1;
}

#vtubername-22,
#vtubername2-22 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-22 {
    transition: right 0.2s;
}

#vtuberbg-22:hover #vtubername2-22 {
    right: 0;
}

#vtuberbg-22:hover #vtuber-22 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Noel CSS----------------------------------------- */

#vtuberbg-23{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #acabb1;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-23{
    position: relative;
    bottom: 0.5vw;
    right: 1vw;
    width: 16vw;
    height: auto;
}

#vtubername-23{
    position: relative;
    bottom: 24.2vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 1.55vw;
}

#vtubername2-23 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-23:hover #vtubername-23,
#vtuberbg-23:hover #vtubername2-23 {
    visibility: visible;
    opacity: 1;
}

#vtubername-23,
#vtubername2-23 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-23 {
    transition: right 0.2s;
}

#vtuberbg-23:hover #vtubername2-23 {
    right: 0;
}

#vtuberbg-23:hover #vtuber-23 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Marine CSS----------------------------------------- */

#vtuberbg-24{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #c93c28;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-24{
    position: relative;
    bottom: 1.2vw;
    right: 1.4vw;
    width: 16.5vw;
    height: auto;
}

#vtubername-24{
    position: relative;
    bottom: 24.9vw;
    right: 10.15vw;
    transform: rotate(90deg);
    font-size: 1.45vw;
}

#vtubername2-24 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-24:hover #vtubername-24,
#vtuberbg-24:hover #vtubername2-24 {
    visibility: visible;
    opacity: 1;
}

#vtubername-24,
#vtubername2-24 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-24 {
    transition: right 0.2s;
}

#vtuberbg-24:hover #vtubername2-24 {
    right: 0;
}

#vtuberbg-24:hover #vtuber-24 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Kanata CSS----------------------------------------- */

#vtuberbg-25{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #9ad8ff;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-25{
    position: relative;
    bottom: 1.2vw;
    right: 2.2vw;
    width: 17.8vw;
    height: auto;
}

#vtubername-25{
    position: relative;
    bottom: 24.5vw;
    right: 10vw;
    transform: rotate(90deg);
    font-size: 1.65vw;
}

#vtubername2-25 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-25:hover #vtubername-25,
#vtuberbg-25:hover #vtubername2-25 {
    visibility: visible;
    opacity: 1;
}

#vtubername-25,
#vtubername2-25 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-25 {
    transition: right 0.2s;
}

#vtuberbg-25:hover #vtubername2-25 {
    right: 0;
}

#vtuberbg-25:hover #vtuber-25 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Watame CSS----------------------------------------- */

#vtuberbg-26{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fef19e;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-26{
    position: relative;
    bottom: 1.5vw;
    right: 1.3vw;
    width: 15.8vw;
    height: auto;
}

#vtubername-26{
    position: relative;
    bottom: 25vw;
    right: 10.5vw;
    transform: rotate(90deg);
    font-size: 1.28vw;
}

#vtubername2-26 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-26:hover #vtubername-26,
#vtuberbg-26:hover #vtubername2-26 {
    visibility: visible;
    opacity: 1;
}

#vtubername-26,
#vtubername2-26 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-26 {
    transition: right 0.2s;
}

#vtuberbg-26:hover #vtubername2-26 {
    right: 0;
}

#vtuberbg-26:hover #vtuber-26 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Luna CSS----------------------------------------- */

#vtuberbg-27{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #fe83c2;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-27{
    position: relative;
    bottom: 1vw;
    right: 1.4vw;
    width: 17vw;
    height: auto;
}

#vtubername-27{
    position: relative;
    bottom: 24.2vw;
    right: 10.15vw;
    transform: rotate(90deg);
    font-size: 1.6vw;
}

#vtubername2-27 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-27:hover #vtubername-27,
#vtuberbg-27:hover #vtubername2-27 {
    visibility: visible;
    opacity: 1;
}

#vtubername-27,
#vtubername2-27 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-27 {
    transition: right 0.2s;
}

#vtuberbg-27:hover #vtubername2-27 {
    right: 0;
}

#vtuberbg-27:hover #vtuber-27 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Lamy CSS----------------------------------------- */

#vtuberbg-28{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #6bcdf8;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-28{
    position: relative;
    bottom: 0.9vw;
    right: 0.5vw;
    width: 13.5vw;
    height: auto;
}

#vtubername-28{
    position: relative;
    bottom: 24vw;
    right: 10vw;
    transform: rotate(90deg);
    font-size: 1.55vw;
}

#vtubername2-28 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-28:hover #vtubername-28,
#vtuberbg-28:hover #vtubername2-28 {
    visibility: visible;
    opacity: 1;
}

#vtubername-28,
#vtubername2-28 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-28 {
    transition: right 0.2s;
}

#vtuberbg-28:hover #vtubername2-28 {
    right: 0;
}

#vtuberbg-28:hover #vtuber-28 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Nene CSS----------------------------------------- */

#vtuberbg-29{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ffb65d;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-29{
    position: relative;
    bottom: 1.25vw;
    right: 0.2vw;
    width: 13.8vw;
    height: auto;
}

#vtubername-29{
    position: relative;
    bottom: 23.8vw;
    right: 9.05vw;
    transform: rotate(90deg);
    font-size: 1.45vw;
}

#vtubername2-29 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-29:hover #vtubername-29,
#vtuberbg-29:hover #vtubername2-29 {
    visibility: visible;
    opacity: 1;
}

#vtubername-29,
#vtubername2-29 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-29 {
    transition: right 0.2s;
}

#vtuberbg-29:hover #vtubername2-29 {
    right: 0;
}

#vtuberbg-29:hover #vtuber-29 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Botan CSS----------------------------------------- */

#vtuberbg-30{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #a3e5cf;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-30{
    position: relative;
    bottom: 1.2vw;
    width: 14.2vw;
    height: auto;
}

#vtubername-30{
    position: relative;
    bottom: 24.9vw;
    right: 10vw;
    transform: rotate(90deg);
    font-size: 1.65vw;
}

#vtubername2-30 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-30:hover #vtubername-30,
#vtuberbg-30:hover #vtubername2-30 {
    visibility: visible;
    opacity: 1;
}

#vtubername-30,
#vtubername2-30 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-30 {
    transition: right 0.2s;
}

#vtuberbg-30:hover #vtubername2-30 {
    right: 0;
}

#vtuberbg-30:hover #vtuber-30 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Polka CSS----------------------------------------- */

#vtuberbg-31{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ce2830;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-31{
    position: relative;
    bottom: 0.7vw;
    right: 1.1vw;
    width: 16.8vw;
    height: auto;
}

#vtubername-31{
    position: relative;
    bottom: 24.2vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 1.9vw;
}

#vtubername2-31 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-31:hover #vtubername-31,
#vtuberbg-31:hover #vtubername2-31 {
    visibility: visible;
    opacity: 1;
}

#vtubername-31,
#vtubername2-31 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-31 {
    transition: right 0.2s;
}

#vtuberbg-31:hover #vtubername2-31 {
    right: 0;
}

#vtuberbg-31:hover #vtuber-31 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Laplis CSS----------------------------------------- */

#vtuberbg-32{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #936cc5   ;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-32{
    position: relative;
    bottom: 1vw;
    right: 0.8vw;
    width: 15.8vw;
    height: auto;
}

#vtubername-32{
    position: relative;
    bottom: 28.8vw;
    right: 14.2vw;
    transform: rotate(90deg);
    font-size: 1.65vw;
}

#vtubername2-32 {
    position: relative;
    bottom: 23.5vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2vw;
}

#vtuberbg-32:hover #vtubername-32,
#vtuberbg-32:hover #vtubername2-32 {
    visibility: visible;
    opacity: 1;
}

#vtubername-32,
#vtubername2-32 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-32 {
    transition: right 0.2s;
}

#vtuberbg-32:hover #vtubername2-32 {
    right: 0;
}

#vtuberbg-32:hover #vtuber-32 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Lui CSS----------------------------------------- */

#vtuberbg-33{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #831450;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-33{
    position: relative;
    bottom: 1.6vw;
    right: 0.3vw;
    width: 14.8vw;
    height: auto;
}

#vtubername-33{
    position: relative;
    bottom: 25.4vw;
    right: 8.3vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-33 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.6vw;
}

#vtuberbg-33:hover #vtubername-33,
#vtuberbg-33:hover #vtubername2-33 {
    visibility: visible;
    opacity: 1;
}

#vtubername-33,
#vtubername2-33 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-33 {
    transition: right 0.2s;
}

#vtuberbg-33:hover #vtubername2-33 {
    right: 0;
}

#vtuberbg-33:hover #vtuber-33 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Koyori CSS----------------------------------------- */

#vtuberbg-34{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #ffacd2;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-34{
    position: relative;
    bottom: 1.1vw;
    right: 1.5vw;
    width: 17.8vw;
    height: auto;
}

#vtubername-34{
    position: relative;
    bottom: 24.9vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 1.9vw;
}

#vtubername2-34 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-34:hover #vtubername-34,
#vtuberbg-34:hover #vtubername2-34 {
    visibility: visible;
    opacity: 1;
}

#vtubername-34,
#vtubername2-34 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-34 {
    transition: right 0.2s;
}

#vtuberbg-34:hover #vtubername2-34 {
    right: 0;
}

#vtuberbg-34:hover #vtuber-34 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Iroha CSS----------------------------------------- */

#vtuberbg-35{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #93dcd7;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-35{
    position: relative;
    bottom: 1.5vw;
    right: 0.5vw;
    width: 13.5vw;
    height: auto;
}

#vtubername-35{
    position: relative;
    bottom: 26.2vw;
    right: 9.9vw;
    transform: rotate(90deg);
    font-size: 1.75vw;
}

#vtubername2-35 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.4vw;
}

#vtuberbg-35:hover #vtubername-35,
#vtuberbg-35:hover #vtubername2-35 {
    visibility: visible;
    opacity: 1;
}

#vtubername-35,
#vtubername2-35 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-35 {
    transition: right 0.2s;
}

#vtuberbg-35:hover #vtubername2-35 {
    right: 0;
}

#vtuberbg-35:hover #vtuber-35 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* ----------------------------- Risu CSS----------------------------------------- */

#vtuberbg-36{
    cursor: pointer;
    margin-top: 1vw;
    background-color: #f6babb;
    border-radius: 20px;
    width: 14vw;
    height: 23vw;
    z-index: -1;
}

#vtuber-36{
    position: relative;
    bottom: 1vw;
    right: 1.4vw;
    width: 16.3vw;
    height: auto;
}

#vtubername-36{
    position: relative;
    bottom: 26.9vw;
    right: 12.5vw;
    transform: rotate(90deg);
    font-size: 2vw;
}

#vtubername2-36 {
    position: relative;
    bottom: 20vw;
    right: 5.5vw;
    writing-mode: vertical-lr;
    font-size: 2.5vw;
}

#vtuberbg-36:hover #vtubername-36,
#vtuberbg-36:hover #vtubername2-36 {
    visibility: visible;
    opacity: 1;
}

#vtubername-36,
#vtubername2-36 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#vtubername2-36 {
    transition: right 0.2s;
}

#vtuberbg-36:hover #vtubername2-36 {
    right: 0;
}

#vtuberbg-36:hover #vtuber-36 {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out; 
  }

/* -----------------------------  CSS----------------------------------------- */

/* ----------------------------- Default Vtuber Img CSS----------------------------------------- */
  
.vtuberSlide img {
width: 100%;
height: auto;
}
  